<ion-header>
  
  <ion-navbar color="primaryCustom">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
 
      
    <ion-title>
      <!-- <img alt="logo" height="40" src="assets/imgs/whale-sale.png">  -->

      W&nbsp;h&nbsp;a&nbsp;l&nbsp;e&nbsp;S&nbsp;a&nbsp;l&nbsp;e
      
  </ion-title>
  </ion-navbar> 
</ion-header>

<ion-content>

  <agm-map [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom" style="width:100%; height: 100%" [gestureHandling]="'none'">
      <div class="action-buttons">
        <button color="primary" ion-button text-only>
          Button 1
        </button>
        <button color="primary" ion-button text-only>
          Button 2
        </button>
      </div>
    <agm-marker *ngIf="isUsersLocationLoaded" [latitude]="user.lat" [longitude]="user.lng" [label]="labelOptions " [animation]="2"></agm-marker>
    <agm-circle [latitude]="map.lat" [longitude]="map.lng" [circleDraggable]="false" [editable]="false" [fillColor]="'#FF0000'" [radius]="RADIUS" ></agm-circle>
  </agm-map>

<!--    
    <ion-fab top right edge>
      <button  ion-fab  color="fabbtn" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-fab> -->
    


  <ion-fab right top >
    <button (click)="createYardSale()" ion-fab color="fabbtn">
      <ion-icon name="add" ></ion-icon>
    </button>
  </ion-fab>


  <ion-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState" >
    <ion-pullup-tab  (tap)="toggleFooter()" style="background-color: #3f6093">
          <!-- <ion-pullup-tab (tap)="toggleFooter()" style="background-color: #222"> -->

      <ion-icon name="arrow-up" *ngIf="footerState == 0" color="white"></ion-icon>
      <ion-icon name="arrow-down" *ngIf="footerState == 1"  color="white"></ion-icon>
    </ion-pullup-tab>
    <!-- <ion-toolbar color="lightCustom" (tap)="toggleFooter()">
      <ion-title>Sales Near You</ion-title>
    </ion-toolbar> -->
    <ion-content>
      






      <ion-card>
        <ion-avatar item-start>
          <img src="assets/imgs/yardsale-default.png">
        </ion-avatar>
        <ion-card-content>
          <ion-card-title>
            Nine Inch Nails Live
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
          </p>
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="assets/imgs/yardsale-default.png" />
        <ion-card-content>
          <ion-card-title>
            Nine Inch Nails Live
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/imgs/yardsale-default.png" />
        <ion-card-content>
          <ion-card-title>
            Nine Inch Nails Live
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-pullup>

</ion-content>