<ion-header>
  <ion-navbar color="lightCustom">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Community Bazaar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <agm-map [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom" style="width:100%; height: 100%" [gestureHandling]="'none'">
      <div class="action-buttons">
        <button color="primary" ion-button text-only>
          Button 1
        </button>
        <button color="primary" ion-button text-only>
          Button 2
        </button>
      </div>
    <agm-marker [latitude]="user.lat" [longitude]="user.lng" [label]="labelOptions"></agm-marker>
    <agm-circle [latitude]="map.lat" [longitude]="map.lng" [circleDraggable]="false" [editable]="false" [fillColor]="'#FF0000'"[radius]="RADIUS"></agm-circle>
  </agm-map>

   

  <ion-fab right top>
    <button ion-fab color="primaryCustom">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


  <ion-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState" >
    <ion-pullup-tab  (tap)="toggleFooter()" style="background-color: #0E0E52">
      <ion-icon name="arrow-up" *ngIf="footerState == 0" color="white"></ion-icon>
      <ion-icon name="arrow-down" *ngIf="footerState == 1"  color="white"></ion-icon>
    </ion-pullup-tab>
    <ion-toolbar color="lightCustom" (tap)="toggleFooter()">
      <ion-title>Sales Near You</ion-title>
    </ion-toolbar>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/yardsale-default.png">
          </ion-thumbnail>
          <h2>Yard Sale</h2>
          <p>Hayao Miyazaki • 1988</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/yardsale-default.png">
          </ion-thumbnail>
          <h2>Yard Sale</h2>
          <p>Hayao Miyazaki • 1988</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/yardsale-default.png">
          </ion-thumbnail>
          <h2>Yard Sale</h2>
          <p>Hayao Miyazaki • 1988</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/yardsale-default.png">
          </ion-thumbnail>
          <h2>Yard Sale</h2>
          <p>Hayao Miyazaki • 1988</p>
          <button ion-button clear item-end>View</button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-pullup>

</ion-content>