page-create-yard-sale {
    #close{
        font-size: 35px;
    }


    #opt{
        font-size: 10px;
        color: grey;
    }



    .masters {
        background-color: #fffdfd;
      }


    .card-header{
        background-color: #fffdfd;
        color: black;   
        

    }

    .date-cols{
        font-size: 22px;
        
    }
    .day-cols{
        font-size: 8px;
    }
    
    .date-block{
       background-color: #fffdfd;
    }

}

